.description-post {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 13px;
    padding: 18px 20px;
    color: #fff;
    height: 100px;
    width: 100%;
    overflow: hidden;
    background: rgba(0,0,0, 0.5);
}
.description-post a {
    color: #fc7100;
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 20px;
}
.description-post a:hover {
    text-decoration: none;
}
.description-post p {
    margin-top: 10px;
}
/*CSS Index*/
.title-categorie {
    font-size: 15px;
    text-transform: uppercase;
    line-height: normal;
    font-weight: normal;
    color: #fff;
    margin: 0px;
    padding: 9px 14px 8px 42px;
    background: #2e2e2e url(../../images/cat-icon.png) no-repeat 5px center;
}
.title-categorie a {
    color: #fff;
}
.title-categorie a:hover {
    color: #0043ff;
    text-decoration: none;
}
.img-post {
    height: 220px;
}
.hot-post .list-post a {
    font-size: 25px;
}
.list-post a {
    color: #000;
}
.list-post a:hover {
    text-decoration: none;
    color: #374370;
}
.post-container h4 a {
    color: #000;
    font-size: 18px;
}
.post-container h4 a:hover {
    text-decoration: none;
    color: #374370;
}
.post-container p {
    color: #999;
    line-height: 18px;
    font-size: 13px;
    min-height: 50px;
    margin-top: 10px;
}
.post-meta {
    font-size: 11px;
    line-height: 16px;
    font-style: italic;
    color: #999;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-meta a, span.date a {
    color: #999;
}
.post-meta .view {
    background: url(../../images/bullet-style.png) no-repeat left center;
    padding: 5px 0 5px 20px;
    margin-right: 10px;
}
.post-meta .date, .date {
    background: url(../../images/date-icon.png) no-repeat left center;
    padding: 5px 0 5px 20px;
}
.see-more {
    text-align: center;
}
.see-more a:hover {
    text-decoration: none;
    color: red;
}
.content-left, .content-right {
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-post-view {
    border: 1px solid #c0c0c0;
    padding: 5px;
    border-top: none;
}
.box-post-view .list-post h4 {
    font-size: 12px;
}
.item-post-view {
    padding: 5px 0;
}
/*CSS Post*/
.post-title {
    font-size: 34px;
    line-height: 38px;
    color: #222;
}
.post-description {
    margin-top: 12px;
    color: #222;
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 17px;
    line-height: 22px;
}
.post-content {
    line-height: 22px;
    text-align: justify;
}
.post-content img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
}
.post-content p {
    margin-bottom: 10px;
}
.post-content strong {
    font-weight: bold;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4 {
    font-weight: bold;
    margin: 20px 0;
}